
      <!-- Content Wrapper. Contains page content -->
       <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
           Rooms
            
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Data Management</a></li>
            <li class="active">Rooms</li>
          </ol>
        </section>
             <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
           <div class="box">
                 <%= link_to new_admin_room_path, class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-plus"></span>
                New Room
              <% end %>
                <div class="box-body">
                  <table id="rooms" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Tilte</th>
                        <th>Available Form</th>
                        <th>City</th>
                        <th>Room Type</th>
                        <th>User</th>
                        <th>Actions</th>
                      </tr>
                    </thead>

                    <tbody>
                      <%= content_tag_for(:tr, @rooms) do |room| %>
                            <td><%= room.title %></td>
                            <td><%= room.description %></td>
                            <td><%= room.room_type %></td>
                            <td><%= room.bedrooms %></td>
                            <td><%= room.bathrooms %></td>
                            <td><%#= link_to 'Show', area %>
                          <%= link_to 'Edit', edit_admin_room_path(room) %>
                         <%= link_to 'Destroy', admin_room_path(room), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <% end %>
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
      </div><!-- /.content-wrapper -->
       </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
<script type="text/javascript">

      $( document ).ready(function() {
     
        $('#rooms').DataTable();
      });
</script>
    