<div class="page-header">

  <h1>Show room</h1>
</div>


<%= link_to "Update", edit_room_path(@room) %> 


<div class="row">
  
        <div class="col-md-8">

         

             <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">

           <div class="demo">
              <ul id="lightSlider">
                <% unless @pictures.empty? %>
                  <% @pictures.each do |pic| %>  

            <li data-thumb="<%=pic.attachment.url(:thumb) %>">
                <img src="<%=pic.attachment.url(:medium) %> " />
            </li>
                   <% end %>
                <% end %>
                </ul>
            </div>
           
            </div>
       
          </div>

         

          
         </div>
        <div class="col-md-4">


            <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
           <%= rating_for @room, "features" %>
          </div>
        </div>
          

             <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            <%= link_to "Like", like_room_path , method: :put%>(<%=@room.get_upvotes.size%>)
            <%= link_to "Unlike", dislike_room_path, method: :put %>(<%=@room.get_downvotes.size%>)
          </div>
        </div>

         </div>





 </div>
 <div class="row">
   <div class="col-md-8">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Room Info</h3>
          </div>
          <div class="panel-body">
            <h4 class="title" style="display: block">About the flatshare</h4>
            <ul style="display: block;">
              <li><%=@room.room_type%></li>
              <li><%=@room.bedrooms%> bedrooms total</li>
              <li><%=@room.rooms_forrent%> bedrooms available</li>
              <li><%=@room.bathrooms%> bathrooms</li>
              <li><%=@room.minimumstay%> months minimum stay</li>
              <li>Available from <%=@room.available_from%> </li>
             
            </ul>
             <h4 class="title" style="display: block">Ideal flatmates</h4>
                  
              <p><%=@room.prefred_gender%>, from <%=@room.prefred_age %>  old  <%=@room.prefred_occupation%> </p>  
                <h4 class="title" style="display: block">Description</h4>
                  
              <p><%=@room.description%> </p>   

            <h4 class="title" style="display: block">Amenities</h4>
            <ul style="display: block;">
            <%@room.amenities.each do |amenity| %>
               <li><%=amenity.name%></li>
            <%end%>  
             
            </ul>  

            <h4 class="title" style="display: block">House Rules</h4>
            <ul style="display: block;">
            <%@room.rules.each do |rule| %>
               <li><%=rule.name%></li>
            <%end%>  
             
            </ul>          
           
          </div>
        </div>
   </div>
</div>



<style type="text/css">

.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .item img{
  display: block;
 
  height: auto;
}
.owl-carousel .owl-item img {
  height: 50px !important;
   width: 100% !important;
}

.demo {
    width:100%;
}
.demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.demo li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.demo img {
    display: block;
    height: auto;
    max-width: 100%;
}


</style>

<script type="text/javascript">
$(".owl-carousel").owlCarousel({
    items : 5,
    lazyLoad : true,   
    autoplay : true
  });


$('#lightSlider').lightSlider({
    gallery: true,
    item: 1,
    loop: true,
    slideMargin: 0,
    thumbItem: 9
});
</script>