


      <!-- Content Wrapper. Contains page content -->
       <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
           Cities
            
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Data Management</a></li>
            <li class="active">Cities</li>
          </ol>
        </section>



        <h2>Import Cities</h2>
        <%= form_tag import_cities_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import" %>
        <% end %>



             <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
           <div class="box">
               <%= link_to new_city_path, class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-plus"></span>
                New City
              <% end %>
                <div class="box-body">
                  <table id="areas" class="table table-bordered table-striped">
                 <thead>
                      <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        
                      </tr>
                    </thead>

                    <tbody>
                      <%= content_tag_for(:tr, @cities) do |city| %>
                            <td><%= city.name %></td>
                            <td><%#= link_to 'Show', city %>
                       <%= link_to 'Edit', edit_city_path(city) %>
                       <%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <% end %>
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
      </div><!-- /.content-wrapper -->
       </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
<script type="text/javascript">

      $( document ).ready(function() {
     
        $('#areas').DataTable();
      });
</script>
    